name: docker-release

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Lsky-pro tag'
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Set hash
        id: vars
        run: |
          sha=$(curl -sX GET \
            "https://api.github.com/repos/lsky-org/lsky-pro/tags" \
            | jq -r '.[]|(select(.name=="${{github.event.inputs.tag}}")).commit.sha')
          echo "::set-output name=sha::${sha}"

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'+%Y-%m-%dT%H:%M:%S%:z')"

      - name: create-json
        id: create-json
        uses: jsdaniell/create-json@1.1.2
        with:
          name: "version.json"
          json: '{"type": "docker", "tag": "latest", "commit": "${{ steps.vars.outputs.sha }}", "date": "${{ steps.date.outputs.date }}"}'
          dir: './'

      - name: setup platform emulator
        uses: docker/setup-qemu-action@v1

      - name: setup multi-arch docker build
        uses: docker/setup-buildx-action@v1

      - name: Download and Unzip Upstream Source Code
        run: |
          curl -OL https://github.com/lsky-org/lsky-pro/releases/download/${{github.event.inputs.tag}}/lsky-pro-${{github.event.inputs.tag}}.zip
          unzip *.zip
          mv ./lsky-pro-${{github.event.inputs.tag}}/* ./
          mv ./lsky-pro-${{github.event.inputs.tag}}/.env.example ./

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      
      - name: Install Dependencies
        run: composer install --optimize-autoloader
      
      - name: Clean file to reduce image size
        run: |
          rm -rf lsky-pro-${{github.event.inputs.tag}}.zip lsky-pro-${{github.event.inputs.tag}}
          rm -rf .styleci.yml composer.lock package-lock.json README.md tailwind.config.js webpack.mix.js

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: build & push images
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm,linux/arm64/v8
          push: true
          labels: |
            build_version=TyRoyal version:- ${{github.event.inputs.tag}} Build-date:- ${{steps.date.outputs.date}}
          tags: |
            tyroyal/lsky-pro-x:${{ github.event.inputs.tag }}
            tyroyal/lsky-pro-x:latest
